#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: #eee
  a
    color: #88c
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em